@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --fonte-titulo: "Poppins", sans-serif;
    --fonte-titulo-peso: 900;
    --fonte-titulo-tamanho: 1.9rem;
    --fonte-textos: "Open Sans", sans-serif;
    --fonte-textos-peso: 600;
    --fonte-textos-tamanho: 1.25rem;
    --cor-fundo-rodape: #0F0E0E;
    --cor-titulo-bordas: #8B9A46;
    --cor-texto: #EEEEEE;
    --cor-hover: #541212;
}

* {
	margin: 0;
	padding: 0;
}

body {
    height: 100vh;
	box-sizing: border-box;
    background-color: var(--cor-fundo-rodape);
}

.titulo {
    font-family: var(--titulo);
    font-weight: var(--fonte-titulo-peso);
    font-size: var(--fonte-titulo-tamanho);
    color: var(--cor-titulo-bordas);
}

.navegacao {
    margin: 5vw;
    text-align: center;
}

.navegacao__espaco {
    color: var(--cor-texto);
}

.navegacao__abas {
    text-decoration: none;
    font-family: var(--titulo);
    font-weight: var(--fonte-titulo-peso);
    font-size: var(--fonte-titulo-tamanho);
    color: var(--cor-titulo-bordas);
}

.navegacao__abas:hover {
    color: var(--cor-texto);
}

.elementos {
    margin: 10vh 0 0 3vw;
    display: flex;
    flex-direction: column;
}

.elementos__textos {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1.5rem;
    width: 90vw;
}

.elementos__textos__titulo {
    font-family: var(--titulo);
    font-weight: var(--fonte-titulo-peso);
    font-size: var(--fonte-titulo-tamanho);
    color: var(--cor-titulo-bordas);
}

.elementos__textos__texto {
    font-family: var(--fonte-textos);
    font-weight: var(--fonte-textos-peso);
    font-size: var(--fonte-textos-tamanho);
    color: var(--cor-texto);
}

.elementos__logo {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.elementos__logo__texto {
    margin-right: 2vw;
    font-family: var(--titulo);
    font-weight: var(--fonte-titulo-peso);
    font-size: var(--fonte-titulo-tamanho);
    color: var(--cor-titulo-bordas);
}

.elementos__logo__link {
    margin: 10%;
}

.elementos__logo__link:hover {
    border: 0.1rem solid var(--cor-texto);
    border-radius: 20%;
    padding: 1.5%;
    background-color: var(--cor-hover);
}

img {
    width: 3.75rem;
    height: 3.75rem;
}

.elementos__formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
    gap: 1.55rem;
}

.elementos__formulario__campo {
    width: 75vw;
    border: 1px solid var(--cor-texto);
    border-radius: 2px;
    padding: 0.5em 0.25em;
    text-align: center;
    background-color: transparent;
    font-family: var(--titulo);
    font-weight: var(--fonte-titulo-peso);
    color: var(--cor-titulo-bordas);
}

.elementos__formulario__campo::placeholder {
    font-family: var(--titulo);
    font-weight: var(--fonte-titulo-peso);
    color: var(--cor-titulo-bordas);
}

.elementos__formulario__botao {
    width: 5rem;
    height: 1.5rem;
    border: 1px solid var(--cor-texto);
    background-color: var(--cor-hover);
    font-family: var(--titulo);
    font-weight: var(--fonte-titulo-peso);
    color: var(--cor-texto);
}

.rodape {
    border: 0.1rem solid var(--cor-titulo-bordas);
    background-color: var(--cor-titulo-bordas);
    height: 20vh;
}

.rodape__texto {
    margin-top: 3vh;
    text-align: center;
    font-family: var(--titulo);
    font-weight: var(--fonte-titulo-peso);
    font-size: var(--fonte-titulo-tamanho);
    color: var(--cor-fundo-rodape);
}
