@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --fonte-titulo: "Poppins", sans-serif;
    --fonte-titulo-peso: 900;
    --fonte-titulo-tamanho: 30px;
    --fonte-textos: "Open Sans", sans-serif;
    --fonte-textos-peso: 600;
    --fonte-textos-tamanho: 20px;
    --cor-fundo-rodape: #021526;
    --cor-titulo-bordas: #6EACDA;
    --cor-texto: #E2E2B6;
    --cor-hover: #03346E;
}

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	box-sizing: border-box;
    background-color: var(--cor-fundo-rodape);
}

.titulo {
    font-family: var(--titulo);
    font-weight: var(--fonte-titulo-peso);
    font-size: var(--fonte-titulo-tamanho);
    color: var(--cor-titulo-bordas);
}

.navegacao {
    margin: 10%;
    display: flex;
    gap: 5%
}

.navegacao__espaco {
    color: var(--cor-texto);
}

.navegacao__abas {
    text-decoration: none;
    font-family: var(--titulo);
    font-weight: var(--fonte-titulo-peso);
    font-size: var(--fonte-titulo-tamanho);
    color: var(--cor-titulo-bordas);
}

.navegacao__abas:hover {
    color: var(--cor-texto);
}

.elementos {
    margin: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elementos__textos {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 600px;
}

.elementos__textos__titulo {
    font-family: var(--titulo);
    font-weight: var(--fonte-titulo-peso);
    font-size: var(--fonte-titulo-tamanho);
    color: var(--cor-titulo-bordas);
}

.elementos__textos__texto {
    font-family: var(--fonte-textos);
    font-weight: var(--fonte-textos-peso);
    font-size: var(--fonte-textos-tamanho);
    color: var(--cor-texto);
}

.elementos__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elementos__logo__texto {
    font-family: var(--titulo);
    font-weight: var(--fonte-titulo-peso);
    font-size: var(--fonte-titulo-tamanho);
    color: var(--cor-titulo-bordas);
}

.elementos__logo__link {
    margin: 10%;
}

.elementos__logo__link:hover {
    border: 2px solid var(--cor-texto);
    border-radius: 20%;
    padding: 1.5%;
    background-color: var(--cor-hover);
}

img {
    width: 60px;
    height: 60px;
}

.rodape {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 2px solid var(--cor-titulo-bordas);
    background-color: var(--cor-titulo-bordas);
    height: 75px;
}

.rodape__texto {
    display: flex;
    padding-bottom: 1%;
    font-family: var(--titulo);
    font-weight: var(--fonte-titulo-peso);
    font-size: var(--fonte-titulo-tamanho);
    color: var(--cor-fundo-rodape);
}